ul#menu
  li: ul.active
    li: a(href='#intro') Getting started
    li: a(href='#receiving') Receiving SIP requests
    li: a(href='#sending') Sending SIP requests
    li: a(href='#headers') Managing SIP headers
    li: a(href='#b2bua') Back-to-back user agent
    li: a(href='#reliable') Reliable provisional responses
    li: a(href='#middleware') Using middleware
