!!! 5
html
  head
    title dracht.io - api reference
    include includes/head
  body.inner
    .bar
    section#content
      header
        include includes/logo
        active = '/api.html'
        include includes/menu

      include includes/mixins

      include en/api/menu

      #right
        include en/api/drachtio

        h2 Application
        a(name='application')
        include en/api/app

        h2 Request
        a(name='request')
        include en/api/req

        h2 Response
        a(name='response')
        include en/api/res

        h2 Sending SIP Requests
        a(name='siprequest')
        include en/api/sr

    include includes/footer
