ul#menu
  li#app-api 
    a(href='#drachtio') Application
    ul#app-menu
      li: a(href='#drachtio') drachtio()
      li: a(href='#app.connect') app.connect()
      li: a(href='#app.disable') app.disable()
      li: a(href='#app.disabled') app.disabled()
      li: a(href='#app.enable') app.enable()
      li: a(href='#app.enabled') app.enabled()
      li: a(href='#app.get') app.get()
      li: a(href='#app.set') app.set()
      li: a(href='#app-settings') settings
      li: a(href='#app.use') app.use()
      li: a(href='#app.VERB') app.VERB()
  li#req-api 
    a(href='#req.active') Request
    ul#req-menu
      li: a(href='#req.active') req.active
      li: a(href='#req.body') req.body
      li: a(href='#req.cancel') req.cancel()
      li: a(href='#req.get') req.get()
      li: a(href='#req.getbody') req.getBody()
      li: a(href='#req.headers') req.headers
      li: a(href='#req.isnewinvite') req.isNewInvite()
      li: a(href='#req.method') req.method
      li: a(href='#req.prack') req.prack()
      li: a(href='#req.requesturi') req.request_uri
      li: a(href='#req.source') req.source
      li: a(href='#req.source_address') req.source_address
      li: a(href='#req.source_port') req.source_port
  li#res-api 
    a(href='#res.send') Response
    ul#res-menu
      li: a(href='#res.ack') res.ack()
      li: a(href='#res.body') res.body
      li: a(href='#res.get') res.get()
      li: a(href='#res.getbody') res.getBody()
      li: a(href='#res.send') res.send()
      li: a(href='#res.set') res.set()
      li: a(href='#res.setbody') res.setBody()
      li: a(href='#res.status') res.status
      li: a(href='#res.statuscode') res.statusCode
  li#sr-api
    a(href='#siprequest') app.siprequest[VERB]
    ul#sr-menu
      li: a(href='#siprequest') app.siprequest()
      li: a(href='#siprequest.cancel') request.cancel()
      li: a(href='#siprequest.pipe') request.pipe()
