section
  h3(id='req.canformdialog') req.canFormDialog

  p.
    This property is a boolean indicating whether the incoming request can form
    a SIP dialog.  SIP INVITE and SUBSCRIBE messages are capable of forming a
    SIP dialog.
