section
  h3(id='req.source') req.source

  p.
    This property has possible values 'network' or 'application' depending on whether the request
    was received by or sent by the application, respectively.

