include ./res-drachtio-ack
include ./res-drachtio-body
include ./res-drachtio-get
include ./res-drachtio-getbody
include ./res-drachtio-send
include ./res-drachtio-set
include ./res-drachtio-setbody
include ./res-drachtio-status
include ./res-drachtio-status-code
