h2 What is dracht.io?
p.
  dracht.io is an <a href="http://expressjs.com">express</a>-inspired application framework designed to let node.js developers easily integrate SIP call processing features into their applications using familiar middleware patterns.

+js.
  var drachtio = require('drachtio')() ;
  app.connect({host:'localhost', port: 8022, secret: 'cymru'}) ;
  app.invite( function( req, res ) {
    res.send(486,  'user-agent': "Drachtio rocksz - but he's busy right now!") ;
  }) ;

p.
  drachtio.io is a client-server architecture encompassing the following software components:
ul
  li: <a href="https://github.com/davehorton/drachtio-server">drachtio-server</a> is a SIP server that is written 
    | in C++ and incorporates the open source sofia sip stack.  
  li: <a href="https://github.com/davehorton/drachtio">drachtio</a> is the core module that node.js applications use
    | to interact with the drachtio server to setup and manage SIP calls.
  li: <a href="https://github.com/davehorton/drachtio-session">drachtio-session</a> and <a href="https://github.com/davehorton/drachtio-redis">drachtio-redis</a> add support for stateful SIP applications. 
  li: <a href="https://github.com/davehorton/drachtio-dialog">drachtio-dialog</a> provides a higher-level framework that makes it easier to manage SIP dialogs.
  li: <a href="https://github.com/davehorton/drachtio-msml">drachtio-msml</a> provides the ability to control IP media servers using <a href="tools.ietf.org/html/rfc5707">MSML</a>.

p.
  All dracht.io software is licensed under the MIT license and is available on <a href="http://github.com">github</a>.
