#boxes.clearfix
  section#voip-integration
    h3 VoIP Integration
    p.
      dracht.io lets you integrate Voice-over-IP functionality into your web applications by using
      middleware patterns that you are already familiar with.

  section#carrier-class
    h3 Carrier-class architecture
    p.
      The distributed client-server architecture allows multiple web applications to connect to and
      share the services of one or more always-running SIP servers.  
    p.
      The <a href="http://github.com/davehorton/drachtio-server">server component</a> is built
      on the powerful open source <a href="http://github.com/davehorton/sofia-sip">sofia sip stack</a>.

  section#apis
    h3 APIs
    p.
      dracht.io provides a layered set of APIs that are easy to use and extend.
    p.
      All dracht.io client and server software is freely available under the MIT
      open source license.
  
  section#contribute    
    a.forkme(href='http://www.github.com/davehorton/drachtio')
      img(src='/images/fork-me-milwich.png',alt="Fork me on github")