section#logo
  a.drachtio(href='/') dracht.io
  .tagline
      span.description
        | The 
        a(href='http://www.ietf.org/rfc/rfc3261.txt') SIP 
        | application middleware for    
        a(href='http://nodejs.org')  node
  .definition
    img(src='../images/definition-only-500-pixels.png')

